.bookshelf {
    display: flex;
    flex-flow: row wrap;
}

.book-card {
    box-sizing: border-box;
    display: inline-block;
    margin: 1em;
    
    display: flex;
    align-content: center;
    justify-content: center;

    height: 200px;
    width: 100px;
    background-color: aliceblue;
    border: 2px solid grey;
}

.add-book-form {
    max-width: 300px;
    padding: 10px;
    background-color: white;

    display: block; 
    /* for testing */
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .close-form-button {
    justify-self: flex-end;
    align-self: flex-end;
  }

  .form-row:first-child {
    margin: 0;
    padding: 0;
  }


  ul {
    list-style-type: none;
    padding: 0;
  }

  .form-row {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .form-row:nth-child(2), .form-row:nth-child(2) > p {
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1em;
    margin: 0;
    text-align: start;
  }